[user]
  email = mykphyre@yahoo.com
  name = Mike Nichols

[alias]
  b = branch
  branch-name = rev-parse --abbrev-ref HEAD
  ci = commit
  cam = commit -am
  co = checkout
  cod = checkout develop
  com = checkout master
  cop2 = checkout @{-2}
  cop3 = checkout @{-3}
  cop4 = checkout @{-4}
  cop5 = checkout @{-5}
  cop6 = checkout @{-6}
  cp = cherry-pick
  cpx = cherry-pick -x
  d = diff
  dc = diff --cached
  f = fetch
  kb = reset --hard HEAD~1
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  mm = merge master
  mmours = merge -s recursive -X ours master
  oops = commit --amend -C HEAD
  pirg = push -u origin HEAD
  phm = push heroku master
  poh = push -u origin HEAD
  pr = pull --rebase
  rb = reset --mixed HEAD~1
  rbm = rebase master
  rbd = rebase develop
  rpo = remote prune origin
  s = status
  st = !(echo 'Use g s for status')
  sp = stash pop
  tc = commit -am temp_commit
  up = rev-parse --abbrev-ref --symbolic-full-name @{u}

[color]
  ui = auto

[push]
  default = simple

[rerere]
  enabled = true
  autoupdate = true
