[user]
  email = mykphyre@yahoo.com
  name = Mike Nichols

[alias]
  an = add -N .
  ap = add --patch
  b = branch
  bb = bisect bad
  bg = bisect good
  branch-name = rev-parse --abbrev-ref HEAD
  bs = bisect start
  cam = commit --all --message
  cf = commit --fixup
  ci = commit
  co = checkout
  com = checkout master
  cop2 = checkout @{-2}
  cop3 = checkout @{-3}
  cop4 = checkout @{-4}
  cop5 = checkout @{-5}
  cop6 = checkout @{-6}
  cp = cherry-pick
  cpx = cherry-pick -x
  d = !cdiff
  da = diff --word-diff=color
  dc = !cdiff --cached
  dcs = !cdiff --side-by-side --width=55 --cached
  ds = !cdiff --side-by-side --width=55
  f = fetch
  fp = fetch --prune
  it = !git init && git commit --message "root" --allow-empty
  kb = reset --hard HEAD~1
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  mm = merge master
  mmours = merge --strategy recursive --strategy-option ours master
  oops = commit --amend --reuse-message HEAD
  phm = push heroku master
  pirg = push --set-upstream origin HEAD
  poh = push --set-upstream origin HEAD
  pr = pull --rebase
  pushf = push --force-with-lease
  r = rebase
  ra = rebase --abort
  rb = reset --mixed HEAD~1
  rbm = rebase --autosquash master
  rc = rebase --continue
  ri = rebase --interactive
  rpo = remote prune origin
  s = status
  sa = stash apply
  sd = stash drop
  sh = show head
  sl = stash list
  sp = stash pop
  st0 = stash --keep-index
  st1 = stash
  st2 = stash --include-untracked
  st3 = stash --all
  tc = commit --all --message temp_commit
  up = rev-parse --abbrev-ref --symbolic-full-name @{u}

[color]
  ui = auto

[push]
  default = simple

[rerere]
  enabled = true
  autoupdate = true

[rebase]
  autosquash = true

[interactive]
  singleKey = true
