*~
.DS_Store

.emacs.d/.emacs.desktop*
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/eshell/history
.emacs.d/projectile-bookmarks.eld
.emacs.d/slime
.emacs.d/workgroups
.emacs.d/xkcd

TAGS
